
#inscriptionbutton {
    margin-right: 15px;
}


body {
    color: #0e0e0e;
}

.i {
    font-size: 30px;
    width: 50px; 
    height: auto;
}


/* Change the link color to #111 (black) on hover */


.navbar {
	font-size: 16px;
    letter-spacing: 2px;
}

.navbar .navbar-brand {
    text-transform: uppercase;
    font-weight: bold;
}

.navbar li .nav-link {
    width: auto;
    height: auto;
    text-align:center;
}

